<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div th:switch="${product}">
    <h2 th:case="null">No product found with the given name</h2>
        <div th:case="*">
            <h2>Requested product is :</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>name</th>
                        <th>currentPrice</th>
                        <th>lastUpdate</th>
                        <th>description</th>
                    </tr>
                </thead>
                <tbody>
                   	<td th:text="${product.id}"></td>
                    <td th:text="${product.name}"></td>
                    <td th:text="${product.currentPrice}"></td>
                   	<td th:text="${product.lastUpdate}"></td>
					<td th:text="${product.description}"></td>
            </tbody>
        </table>
    </div>      
    <p><a href="/productapi/product/home">Back</a></p>
</div>
</body>
</html>